<div class="container">
  <div class="form">
    <%= form_for @product do |form| %>
      <% if @product.errors.present? %>
        <p><%= @product.errors.full_messages.join(', ') %></p>
      <% end %>

      <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
      </div>

      <div>
        <%= form.label :description %>
        <%= form.text_area :description, class: 'form-control' %>
      </div>

      <div class=" mt-2" >
        <%= form.label :price %>
        <%= form.number_field :price, step: :any %>
      </div>
      <%= form.collection_select(
        :tag_ids,
        Tag.order(:name),
        :id,
        :name,
        {},
        {
          multiple: true,
          class: 'chosen-select'
        }
      ) %>

        <div class=" mt-2">
          <%= form.submit "Create a Product", class: "btn btn-secondary btn-sm" %>
        </div>

    <% end %>
</div>
</div>
