<!DOCTYPE html>
<html>
  <head>
    <title>Amazon</title>
    <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
    </head>


  <body>

      <nav style="margin: 10px; font-size: 10px">
        <a href="/">Home</a>
        |
        <%= link_to('About Us', about_path, { id: 'abc', class: 'xyz' }) %>
        |
        <%= link_to 'Contact Us', contact_path %>

        |
        <%= link_to 'New Product', new_product_path %>
        |
        <%= link_to 'All Products', products_path %>
        |
        <% if user_signed_in? %>
        <%= link_to 'My Liked Products', products_path({liked: true}) %>
        <% end %>
        |
        <% if user_signed_in? %>
        <%= link_to 'My Favourited Products', products_path({favourited: true}) %>
        <% end %>
        |
        <% if user_signed_in? %>
        <%= link_to 'Tags', tags_path %>
        <% end %>
        |

      <% if user_signed_in? %>
        <span>Hello, <%= current_user.first_name %>!</span>
        |
        <% if current_user.is_admin? %>

        <%= link_to 'Dashboard', admin_panel_index_path %>
      <% end %>
        |
        <%= link_to(
          'Sign Out',
          session_path,
          method: :delete,
          data: {confirm: 'Do you really want to sign out?'}
        ) %>
      <% else %>
        <%= link_to 'Sign In', new_session_path %>
        |
        <%= link_to 'Sign Up', new_user_path %>
      <% end %>


      <% if flash[:notice].present? || flash[:alert].present? %>
        <div class="flash-message">
          <p><%= flash[:notice] || flash[:alert] %></p>
        </div>
      <% end %>

    <hr>
    <%= yield %>
  </body>
</html>
